@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./../node_modules/@picocss/pico/scss/pico.scss";

.grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

body {
  overflow-x: hidden;
}

.bleed {
  padding-left: 3000px;
  margin-left: -3000px;
  padding-right: 3000px;
  margin-right: -3000px;
}
