@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./../node_modules/@picocss/pico/scss/pico.scss";

body {
  position: relative;
  overflow-x: hidden;
}

.bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
