// @use "sass:map";
@use "@picocss/pico/scss/pico" as * with (
  // amber, azure, blue, cyan, fuchsia, green, grey, indigo, jade, lime, orange, pink, pumpkin, purple, red, sand, slate, violet, yellow, zinc
  // best: amber, jade
  $theme-color: "jade",
  $enable-semantic-container: false,
  $enable-classes: true
);

@tailwind base;
@tailwind components;
@tailwind utilities;

// import pico css a second time to override some of tailwind's base styles
@import "./../node_modules/@picocss/pico/scss/pico.scss";

body {
  position: relative;
  overflow-x: hidden;
}

.bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.Toastify__toast--success {
  background: #13171f !important;
  // border: 1px solid white !important;
}

// use this instead of the default tailwind grid as it doesn't work well with the pico grid
.autogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
